<h2 mat-dialog-title>Add Product New</h2>
<form [formGroup]="productFrom">
  <mat-dialog-content class="mat-typography">
    <div>
      <!--   Trachker-->
      <mat-form-field appearance="fill">
        <mat-label>Tracker</mat-label>
        <mat-select formControlName="tracker" required>
          <mat-option value="tag">Tag</mat-option>
          <mat-option value="bug">Bug</mat-option>
          <mat-option value="feature">Feature</mat-option>
          <mat-option value="question">Question</mat-option>
        </mat-select>
      </mat-form-field>

      <!--   Subject-->
      <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <input formControlName="subject" required matInput placeholder="name">
      </mat-form-field>

      <!--   description-->
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>

      <!--   date-->
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input formControlName="date" required matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" (click)="addProduct()"  cdkFocusInitial>Add new</button>
      </mat-dialog-actions>

    </div>
  </mat-dialog-content>

</form>
